# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.dll
*.dylib
*.egg-info/
.eggs/
.build/
dist/
pip-wheel-metadata/
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# Editors/IDEs
.vscode/
.idea/
*.iml

# C++/CMake artifacts
*.o
*.obj
*.a
*.lib
*.exp
*.pdb

# Generated media
*.mp4
*.mov
*.wav
*.jpg
*.jpeg

# Local config/secrets
*.env
.env.*
*.local
*.onnx
**/tts/audios